In [37]:
import requests
import pandas as pd
from bs4 import BeautifulSoup #work with HTML in memory
import os
import re

In [38]:
url = "https://www.rottentomatoes.com/m/citizen_kane"
response = requests.get(url)

In [39]:
# saving html content in file
# with open("citizen_kane.html",'wb') as file:
#     file.write(response.content)

In [66]:
with open('rt_html/12_years_a_slave.html') as file:
    soup = BeautifulSoup(file,'lxml')

In [69]:
# contents to parse the element cilderns 
soup.find('title').contents[0][:len(' - Rotten Tomatoes')].replace(u'\xa0', u' ')

'12 Years a Slave ('

In [57]:
import time
tic = time.time()
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        # Your code here
        # Note: a correct implementation may take ~15 seconds to run
        soup = BeautifulSoup(file,'lxml')
        title = soup.find('title').contents[0][:len(' - Rotten Tomatoes')]
        audience_score = soup.find('div',class_='audience-score meter').find('span').contents[0][:-1]
        num_audience_ratings = soup.find('div',class_='audience-info hidden-xs superPageFontColor')
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',','')
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
tac = time.time()
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])
print(tac-tic)

15.714687824249268

In [58]:
df.head()

                  title  audience_score  number_of_audience_ratings
0  12 Angry Men (Twelve              97                      103672
1  The 39 Steps (1935)               86                       23647
2  The Adventures of Ro              89                       33584
3  All About Eve (1950)              94                       44564
4  All Quiet on the Wes              89                       17768

In [59]:
df.iloc[:, 0]

0     12 Angry Men (Twelve
1     The 39 Steps (1935)
2     The Adventures of Ro
3     All About Eve (1950)
4     All Quiet on the Wes
              ...
95    Up (2009) - Rotten T
96    Vertigo (1958) - Rot
97    The Wages of Fear (1
98    Wonder Woman (2017)
99    Zootopia (2016) - Ro
Name: title, Length: 100, dtype: object