# Assessing
Use the space below to explore `winequality-red.csv` and `winequality-white.csv` to answer the quiz questions below.

In [1]:
# import libraries
import pandas as pd

In [2]:
# import dataset files
red_wine_data = pd.read_csv('winequality-red.csv',sep=';')
white_wine_data = pd.read_csv('winequality-white.csv',sep=';')

In [3]:
red_wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
# number of rows in each dataset 
print("No. of samples in red wine dataset is : {} row".format(str(red_wine_data.shape[0])))
print("No. of samples in white wine dataset is : {} row".format(str(white_wine_data.shape[0])))

No. of samples in red wine dataset is : 1599 row
No. of samples in white wine dataset is : 4898 row

In [5]:
# number of columns in each dataset 
print("No. of columns in red wine dataset is : {} column".format(str(red_wine_data.shape[1])))
print("No. of columns in white wine dataset is : {} column".format(str(white_wine_data.shape[1])))

No. of columns in red wine dataset is : 12 column
No. of columns in white wine dataset is : 12 column

In [6]:
print("featuers with missing values summary :\n{}".format(red_wine_data.isnull().sum()))

featuers with missing values summary :
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [7]:
print("featuers with missing values summary :\n{}".format(white_wine_data.isnull().sum()))

featuers with missing values summary :
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [11]:
# number of duplicate values in white wine dataset
white_wine_data.duplicated().sum()

937

In [9]:
# unique values of quality in each dataset
print("Unique values of quality in white wine dataset is : {}".format(str(white_wine_data['quality'].nunique())))
print("Unique values of quality in red wine dataset is : {}".format(str(red_wine_data['quality'].nunique())))

Unique values of quality in white wine dataset is : 7
Unique values of quality in red wine dataset is : 6

In [10]:
red_wine_data['density'].mean()

0.9967466791744841